// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "buttons";
@import "boxes";
@import 'grid';
@import 'titles';
@import 'navbar';
@import 'banner';
@import 'footer';

@import url('https://fonts.googleapis.com/css?family=Prompt|Shadows+Into+Light+Two&display=swap');

body {
  font-family: 'Prompt', sans-serif;
  background-color: #D8E0D9;
}

ul {
  list-style: none;
}


