.my-btn {
  padding: 8px 16px;
  border-radius: 4px;
  transition: 0.3s;
  color: black;

  &:hover {
    box-shadow: 0 0 8px 0 lightgrey;
    color: rgba(30,30,30,0.8);
  }
}

#add-btn {
  cursor: pointer;
}

.fa-trash-alt {
  color: black;
  opacity: 0.6;
  transition: 0.3s;

  &:hover {
    opacity: 1;
  }
}

.cancel-btn {
  padding: 8px 16px;
  border: 1px solid #450C1F;
  border-radius: 4px;
  color: #450C1F;
  transition: 0.3s;

  &:hover {
    background-color: #450C1F;
    color: white;
  }
}

.my-upload-btn {
  text: none;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgb(210,210,210);
    color: black;
  }
}

.submit-btn {
  padding: 8px 16px;
  border: 1px solid #27331F;
  background-color: #F1F0F1;
  border-radius: 4px;
  color: #27331F;
  transition: 0.3s;

  &:hover {
    background-color: #27331F;
    color: white;
  }
}

