.my-nav {
  position: sticky;
  top: 0;
  background-color: #450C1F;
  a {
    color: white;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 32px;
    padding: 4px 8px;
    border: 1px solid white;
    transition: 0.3s;

    &:hover {
      background-color: white;
      color: #450C1F;
    }
  }
}
