.header {
  font-size: 80px;
  padding: 80px 56px;
  border-bottom: 2px solid #27331F;
  margin-bottom: 16px;
  background-color: #F3E9EC;
  width: 100%;
  font-family: 'Shadows Into Light Two', cursive;
}

h2 {
  font-size: 36px;
}
